{{template "layout" .}}

{{define "title"}}
	My Eventbrite Clone
{{end}}

{{define "content"}}

<article>
    <h3> Who are we? </h3>
	<p>
	We are: Ben Harland, Stacey Hou, Albert Liao, and Steven Lin we represent "quiet-night" team. our code names are jolly-caterpillar, brave-tiger,
     quaint-cheetah, super-wallaby. As the driving force behind FYRE, we now bring the sickiest parties to you directly on our website!
	</p>
</article>

{{end}}
